
body {
	
	background-color: #505050;
	margin: 0px;
	background-image: url(../images/bg_app.png);
}

.closeButton {

	font-family: 'RobotoMedium';
	font-size: 20px;
	color: #FFFFFF;
	float: left;
	width: 25%;
	height: 150%;
	border: 0px;
	min-height: 60px;
	left: 0%;
	text-shadow:-2px -2px -2px #000000;
	background: transparent url(../images/btn_titlebar_normal.png) no-repeat;
}

.captionTitle {
	
	min-height: 60px;
}

.listItem { 
	
    width:90px;
    height:90px;
    background-color:#505050; 
}

.pictureInfoItems * {
	
	text-align: left;
	margin-left: 10px;
}

div.imageDescription {
	
	color: #FFFFFF;
	padding-top: 12px;
	margin-left: 10px;
}

table.mainNavigationList {
	
	background-size: 100%;
	width: 100%;
	text-align: center;
	background: url(../images/tab-bar.png) no-repeat;
}

a.galleryButton:active {
	
	background: url(../images/tab_images_active.png) no-repeat;
}

a.profileButton:active {
	
	background: url(../images/tab_profile_active.png) no-repeat;
}

a.cameraButton { 
	
	position: relative;
}

a.cancelUploadButton {
	
	font-family: 'RobotoMedium';
	font-size: 16px;
	color: #FFFFFF;
	margin: 0px;
	background: url(../images/btn_titlebar_normal.png);
}

img.logoImage {
	
	position: relative;
	left: 10%;
	width: 80%;
	top: 15%;
	margin: 5px;
	margin-bottom: 42px;
}

div.selectOptionsPart {
	
	position: relative;
	top: 7%;
	margin: 0px;
	left: 5%;
	width: 90%;
}

div.uploadButtonPart {
	
	position: relative;
	top: 7%;
	margin: 0px;
	left: 5%;
	width: 90%;
}

p {
	
	position: relative;
	left: 4%;
	color: #FFFFFF;
	margin: 0px;
	margin-bottom: 2px;
}

.smallParagraph {
	
	font-family: 'RobotoMedium';
	font-size: small;
}

.mediumParagraph {
	
	font-family: 'RobotoMedium';
	font-size: medium;
}

.smallField {
	
	font-family: 'RobotoRegular';
	font-size: small;
}

.mediumField {
	
	font-family: 'RobotoRegular';
	font-size: medium;
}

.largeField {
	
	font-family: 'RobotoRegular';
	font-size: large;
}

.x-largeField {
	
	font-family: 'RobotoRegular';
	font-size: x-large;
}

.extraMargin {
	
	margin-bottom: 7px;
}


input.username { 
	
	margin: 0px;
	margin-bottom: 20px;
	width: 98%;
	min-height: 40px;
	color: #1A1A1A;
}

input.password {

	margin: 0px;
	margin-bottom: 20px;
	width: 98%;
	min-height: 40px;
	color: #999999;
}


.submitPart {
	width: 92%;
	position: relative;
	left: 4%;
}

.submitButton {
	border: 0;
	background: transparent url(../images/btn_general_normal.png) no-repeat;
	background-size:100% 100%;
    min-height: 60px;
    width: 100%;
    align: left;
    font-family: 'RobotoRegular';
	font-size: 18px;
	color: #FFFFFF;
	box-shadow: -90px 111px #00000;
	text-shadow: -2px -2px -2px #000000;
}

.submitButton:active {
	background-size: 100%;
	background: url(../images/btn_general_active.png) no-repeat;
}












.allImagesButton {
	
	float: left;
	background: url(../images/btn_switch_left_normal.png) no-repeat;
	border: 0 none;
}

.myImagesButton {
	
	float: left;
	background: url(../images/btn_switch_right_normal.png) no-repeat;
	border: 0 none;
}

select {
	
	font-family: 'RobotoRegular';
	font-size: 20px;
	position: relative;
    left: 5%;
    background-size: 100%;
  	border: 0;
  	margin: 5px;
  	padding: 10px
}

.gallery { 

	list-style: none; 
	padding: 0; 
	margin: 0;
	border: 0;
	
}

.gallery:after { 
	
	clear: both; 
	content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden;
}

.gallery li { 
	
	float: left; 
	width: 33.33333333%;
	background-color: transparent;
}

.gallery li a { 
	
	display: block; 
	margin: 5px; 
	border: 1px solid #3c3c3c; 
}

.gallery li img { 
	
	display: block; 
	width: 100%;
	height: 90%; 
}

.uploadProgress {
	visibility:hidden;
	position:relative;
	top:1%;
	text-align:center;
	color:white;
	z-index:1;
}


