body {
	
	background-color: #505050;
	background-image: url(../images/bg_app.png);
}

#tableData {
	
	width: 90px;
	height: 90px;
	background-color: #505050;
}

div.mainNavigation {
	
	background-color: #33CCFF;
}
a.galleryButton {
	background: url(../images/tab_images_normal.png) no-repeat;
}
img.logoImage {
	
	position: relative;
	left: 5%;
	width: 90%;
	top: 10%;
}

div.logonPart
{
	position: relative;
	top: -5%;
	left: 5%;
	width: 90%;
}
p {
	font-family: 'RobotoMedium';
	font-size: 18px;
	position: relative;
	left: 5%;
	color: #FFFFFF;
	padding: 0px;
}
p.login_user { padding: 0px; }
p.login_pass { padding: 0px; }
p.login_label {}

input {
	
	font-family: 'RobotoRegular';
	font-size: 24px;	
	color: #1A1A1A;
	position: relative;
	left: 5%;
	width: 90%;
	padding-top: 1px;
	padding-bottom: 5px;
}

input.user {}

input.pass {
	
	color: #999999;

}

input.log {
	
	color: #FFFFFF;
	box-shadow: -90px 111px #00000;
	opacity: 0.7;
	background: transparent url(../images/btn_general_normal.png) no-repeat;
	background-size: 100%;
	padding-top: 5px;
}

#loginButton {

	border: 0;
}

#loginButton:active {
	
	background: url(../images/btn_general_active.png) no-repeat;
}