body {
	
	background-color: #505050;
	background-image: url(../images/bg_app.png);
}

#tableData {
	
	width: 90px;
	height: 90px;
	background-color: #505050;
}

#mainNavigation {
	
	background-color: #33CCFF;
}

img.logoImage {
	
	position: relative;
	left: 5%;
	width: 90%;
}

p.login_user {
	
	font-family: 'RobotoMedium';
	font-size: 18px;
	position: relative;
	left: 5%;
	color: #FFFFFF;
}

p.login_pass {
	
	font-family: 'RobotoMedium';
	font-size: 18px;
	position: relative;
	left: 5%;
	color: #FFFFFF;
}

p.login_label {
	
	font-family: 'RobotoMedium';
	font-size: 18px;
	position: relative;
	left: 5%;
	color: #FFFFFF;
}

input.user {
	
	font-family: 'RobotoRegular';
	font-size: 28px;
	position: relative;
	left: 5%;
	width: 90%;
	color: #1A1A1A;
}

input.pass {
	
	font-family: 'RobotoRegular';
	font-size: 28px;
	position: relative;
	left: 5%;
	width: 90%;
	color: #999999;
	placeholder: 'Snap';
}

input.log {
	
	font-family: 'RobotoRegular';
	font-size: 24px;
	position: relative;
	left: 5%;
	width: 90%;
	color: #FFFFFF;
	box-shadow: -90px 111px #00000;
	opacity: 0.4;
	background: url(../images/btn_general_normal.png) no-repeat;
}

#loginButton {
	
	border: 0;
}

#loginButton:active {
	
	background: url(../images/btn_general_active.png) no-repeat;
}